@media (max-width: 1170px){
    form{
        max-width: 100%;
    }
    input{
        font-size: 16px;
    }

}

@media (max-width: 760px){
    form{
        max-width: 80%;
    }
    .name, .email{
        width: 180px;
        height: 22px;
    }
    .reviews{
        width: 460px;
        height: 100px;
    }
    input{
        font-size: 14px;
    }
    .conteiner-menu {
        display: none;
    }
    .box, .wraper {
        justify-content: center;
        gap: 10px;
    }
    main > article {
        margin: 10px;
    }
}

@media (max-width: 480px){
    form{
        max-width: 80%;
        padding: 20px;
    }
    .name, .email{
        width: 80px;
        height: 10px;
    }
    .reviews{
        width: 180px;
        height: 140px;
    }
    input{
        font-size: 12px;
    }
    .butt_form{
        width: 100px;
        height: 40px;
    }
    .robot{
        font-size: 12px;
        margin: 0 auto;      
        width: 100px;
        height: 50px;
    }
    body > footer {
        padding: 20px;
    }


}