body{
    max-width: 808px;
    margin: auto;
    font-family: "Open Sans Regular";
    background: #f6f6f6;
}
a{
    text-decoration: none;
    color: #313131;
    margin: 0;
}
html{
    font-size: 14px;
}
.conteiner__logo{
    width: 100%;
}
@font-face {
    font-family: "Open Sans Regular";
    src: url("fonts/OpenSans-Regular.ttf") /* format("truetype") */;

   }
@font-face {
    font-family: "Open Sans SemiBold";
    src: url("fonts/OpenSans-SemiBold.ttf") /* format("truetype") */;
   }
.conteiner{
    display: flex;
    justify-content: center;
}
.conteiner-menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1px;
    margin-top: 6px;
}
.conteiner-menu-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #0083CD;
    word-wrap: break-word;
    height: 52px;
    text-align: center;
}
.conteiner-menu-box#foto{
    flex-grow: 1.2;
}
.conteiner-menu-box__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95rem;
    color: #E5E5E5;
    font-weight: bold;
    line-height: 19px;
}
.conteiner-menu-box:hover{
    background-color:#3396cf;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.1rem;
    gap: 10px;
}
.box-phone,.box-email,.box-info,.box-whatsapp{
    display: flex;
    align-items: center;
}
.box-phone,.box-email{
    color: #CD0022;
}
.box-phone__text{
    font-weight: 700;
    white-space: nowrap;
}
.box-phone__btn{
    height: 3em;
    border: 2px solid #CD0022;
    border-radius: 10px;
    letter-spacing: 0.08rem;
    color: #CD0022;
}
.box-phone__btn:hover{
    background-color: #CD0022;
    color: white;
    cursor: pointer;
}
.box-phone > *, .box-email > *, .box-info > *, .box-whatsapp > *{
    margin-left: 1em;
    margin-right: 0.5em;
}
.box-info__text, .box-whatsapp__btn{
    margin-left: 0px;
}
.box-info a,.box-whatsapp__btn{
    margin: 0;
    text-align: left;
}
.space{
    margin-right: 1.5em;
    margin-left: 0px;
}
.box-whatsapp__btn{
    color: #00CD52;
    letter-spacing: 0.08rem;
    border-radius: 10px;
    height: 31px;
    border: 2px solid #00CD14;
}
.box-whatsapp__btn:hover{
    background-color:#00CD52 ;
    color: white;
    cursor: pointer;
}
.box-warning{
    border: 2px solid #CD0022;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    padding: 0px 10px;
}
.box-warning__img{
    margin: 0.5em;
    align-self: flex-end;
}
.box-time{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: flex-start;
    border: 2px solid #CD0022;
    padding: 0px 10px;
}

.box-time-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-time__img{
    width: 32px;
    margin: 0.5em;
}


.box.center {
    justify-content: center;
}

h1 {
    font-weight: bolder;
    font-size: 22px;
    color: #CD0022;
}
.col {
    flex-direction: column;
}
.col.center {
    align-items: center;
}
.gap-50 {
    gap: 50px;
}

.services {
    width: 225px;
}

.services header {
    height: 41px;
    background-color: #CD0022;
    color: white;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

.services-list {
    font-size: 12px;
    letter-spacing: 0.04em;
}

.services-list div {
    padding: 5px;
    height: 32px;
}

.services-list div:nth-child(odd) {
    background-color: #c4c4c4;
}
.services-list div:nth-child(even) {
    background-color: #e5e5e5;
}

.vert-center-child * {
    display: flex;
    align-items: center;
}
main > article {
    margin: 50px 0;
}

body > footer {
    margin-top: 80px;
    padding: 15px 50px;
    text-align: center;
    background-color: #a8a8a8;
    color: #e5e5e5;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.12em;
}
.wraper{
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
}
.wraper__link{
    border-bottom: 2px solid #CD0022;
    font-weight: bold;
    font-size: 1.2rem;
    color: #CD0022;
}
.picture{
    width: 70%;
}
.headText{
    font-size: 1.5rem;
    color: #CD0022;
}
.headContent__text{
    font-size: 1.3rem;
    color: #000000;
    letter-spacing: 0.15em;
}
.mainContent__text{
    letter-spacing: 0.1em;
    line-height: 30px;
    text-align: justify;
}
.footerContent__headText{
    font-size: 1.2rem;
}
.footerContent__footText, .footerContent__headText, .headContent__text, .headText{
    text-align: center;
}
form{
    position: relative;
    display: block;
    border: 2px solid #CD0022;
    padding: 20px;
    background-color: pink;
    font-size: 14px;
}
.name, .email{
    width: 200px;
    height: 26px;
}
.email{
    position: absolute;
    right: 20px;

}
.reviews{
    width: 560px;
    height: 100px;
}
input, textarea{
    border-radius: 16px;
    border: 1px solid #CD0022;
    padding: 7px;
    margin: 10px;
}
textarea{
    resize: none;
}
input:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 0px 2px #CD0022;
}
.butt_form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #CD0022;
    margin: 0 auto;
    padding: 4px;
    width: 200px;
    height: 30px;
    color: #CD0022;
    text-align: center;
}
.robot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid #CD0022;
    margin: 10px;
    padding: auto;
    font-size: 16px;
    text-align: left;
    background-color: white;
}

.reviews_table{
    position: relative;
    border: 2px solid #CD0022;
    border-collapse: collapse;
    width: 60vw;
    max-width: 600px;
}
td{
    padding: 6px;
    border-bottom: 2px solid #CD0022;
}
.border{
    border: 2px solid #CD0022;
    border-collapse: collapse;
}
.name_rev, .mail_rew{
    text-align: center;
}
.text_rev{
    text-align: left;
} 
.data_time{
    text-align: end;
    margin-top: -40px;
}

